<header class="z-40 py-4 bg-gray-900">
  <div class="flex items-center justify-between h-8 px-6 mx-auto">
    <!-- Mobile hamburger -->
    <button
      class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
      aria-label="Menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h7"
        />
      </svg>
    </button>

    <ul class="flex items-center flex-shrink-0 space-x-6"></ul>
  </div>
</header>
