<section class="p-6">
    <div class="carousel rounded-box space-x-4">
      <div *ngFor="let product of featuredProducts" class="carousel-item">
        <div class="card w-48 bg-base-100 shadow-xl">
          <figure>
            <img [src]="product.img1" [alt]="product.name" />
          </figure>
          <div class="card-body p-4">
            <h3 class="card-title text-sm">{{ product.name }}</h3>
            <p class="text-xs text-gray-500">{{ product.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  