<main class="bg-base-100 text-base-content">


    <!-- Categories Navigation -->
    <section class="w-full mx-auto px-4 mb-12">
      <!-- Pass categories array and listen to categoryChange event -->
      <app-categories-nav
        [categories]="categories"
        (categoryChange)="onCategoryChange($event)">
      </app-categories-nav>
    </section>
  
    <!-- Featured Carousel -->
    <section class="max-w-7xl mx-auto px-4 mb-12">
      <h2 class="text-2xl font-bold mb-4">Featured Books</h2>
      <!-- Pass featuredProducts array -->
      <app-featured-carousel [featuredProducts]="featuredProducts"></app-featured-carousel>
    </section>
  
    <div class="divider divider-neutral"></div>
  
    <!-- Best Deals -->
    <section class="max-w-7xl mx-auto px-4 mb-12">
      <h2 class="text-2xl font-bold mb-4 text-accent">Best Deals</h2>
      <app-best-deals [products] = "bestDealsProducts"></app-best-deals>
    </section>
  
    <div class="divider divider-neutral"></div>
  
    <!-- New Arrivals -->
    <section class="max-w-7xl mx-auto px-4 mb-16">
      <h2 class="text-2xl font-bold mb-4">New Arrivals</h2>
      <app-new-arrivals [products] ="newArrivalProducts"></app-new-arrivals>
    </section>
  
  </main>
  